.bg-rose {
  background-color: #b08f85;
}

.nav-text {
  color: #e6dfd1;
}

.logo-text {
  color: rgb(121, 37, 1);
  font-size: 35px;
  font-family: "Berkshire Swash", Helvetica, sans-serif;
  text-shadow: 1px 1px 0px #e6dfd1, 4px 4px 0px rgba(0, 0, 0, 0.15);
}

.text-navbar {
  font-size: 30px;
}

.logo-text:hover,
.nav-text:hover {
  color: rgb(44, 16, 11);
}

.item {
  color: #b08f85 !important;
}

.item:hover {
  background-color: rgb(121, 37, 1) !important;
  color: #e6dfd1 !important;
}

i {
  cursor: pointer;
}

i:hover {
  color: #5e5a5f;
}

.main {
  background-image: url("../public/img/img1.jpg");
}

.main-location {
  background-image: url("../public/img/location.jpg");
}

.main,
.main-location {
  background-size: cover;
  background-repeat: no-repeat;
  width: 1450px;
  height: 80vh;
  position: relative;
}

.description-main,
.description-location {
  position: absolute;
  width: 400px;
  height: 200px;
  border: 5px solid wheat;
  z-index: 1;
  left: 37%;
  background-color: #71442f;
  opacity: 0.8;
}

.contact-text {
  color: #e6dfd1;
}

figure {
  display: block;
  margin-top: 2em;
  margin-bottom: 10em;
  margin-left: 40px;
  margin-right: 40px;
  width: 400px;
  height: 400px;
}

figcaption {
  margin-top: 5px;
  width: 200px;
  height: 20px;
}

.menu-img {
  width: 400px;
  height: 400px;
  box-shadow: 3px 3px 3px 3px #B08F85;
}

img {
  width: 100px;
  height: 100px;
}

.fig-text {
  color: #2A1916;
  text-shadow: 2px 2px 4px #B08F85;
  font-weight: bold;
  font-size: 25px;
}

.social-media {
  width: 100%;
  height: 60px;
  box-sizing: border-box;
  padding: 14px;
  position: fixed;
  bottom: 0;
  left: 0;
  background-color: #2a1916;
  color: #b08f85;
}

.social-media i {
  font-size: 30px;
}

.credits,
.credits a {
  color: #e6dfd1;
  font-size: 9px;
}

/* palete
  #B08F85 rosé
  #5E5A5F grey
  #E6DFD1 off white
  #71442F light brown
  rgb(121, 37, 1) logo - medium brown
  #2A1916 dark brown  
*/
